/**
 * @file
 * Node Styling
 */

@import "base";

.node {
  padding: 0 .3em;

  .submitted {
    color: $medium-grey;

    .user-picture img {
      float: right;
    }
  }

  ul.links {
    font-size: .8em;

    li {
      padding: 0 .4em;
    }
  }

}

.node-teaser {
  border-bottom: 1px solid $grey;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.node-unpublished {
  background-color: lighten($orange, 45%);

  p {
    margin: 0;

    &.unpublished {
      @include unpublished-div;
    }
  }
}
