/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php.
 *
 * #page
 *
 *   #header
 *     #head-banner
 *       #secondary-menu
 *       #top
 *         .region-top-first
 *         .region-top-second
 *         .region-top-third
 *     #identity
 *       a#logo
 *       #name-and-slogan
 *         #site-name
 *         #site-slogan
 *     #section
 *       .region-section-first
 *       .region-section-second
 *     #main-menu
 *
 *   #main
 *     .region-feature
 *     #content
 *       .region-highlighted
 *       .region-content
 *     #sidebars
 *       .region-sidebar-first
 *       .region-sidebar-second
 *
 *   #footer
 *     .region-footer
 *     #bottom
 *       .region-bottom-first
 *       .region-bottom-second
 *     #tertiary-menu
 */

@import "base";

body {
  background: $light-blue;
  margin: .6em;

  @media (max-width: 30em) {
    margin: .3em;
  }
}

::selection {
  background: $light-orange;
  color: $white;
}

#page {
  background: $white;
  padding: 0;

  @media (min-width: 63em) {
    box-shadow: 0 0 2.5em .01em rgba(0, 0, 0, .6);
  }

  @media (max-width: 63em) {
    margin-top: 0;
  }
}

#head-banner {
  border-bottom: $fat-border;
}

#foot-banner {
  border-bottom: $slim-border;
}

#head-banner, #foot-banner {
  background: $light-grey;
}

#identity {
  display: table;
  width: 100%;
  padding-top: .7em;
  padding-bottom: .7em;

  #name-and-slogan,
  #logo {
    display: table-cell;
    vertical-align: middle;
  }

  #name-and-slogan {
    h1,
    h2 {
      line-height: 1;
    }

    h1 {
      border-bottom: none;
      font-size: 2em;
      margin: 0;
    }

    h2 {
      font-family: $font-body;
      font-size: 1.2em;
      margin: 0;
    }
  }

  #logo {
    text-align: right;
  }

  @media (max-width: 45em) {
    #name-and-slogan,
    #logo {
      text-align: center;
      display: block;
    }
  }
}

#content {
  padding-top: 1em;
}

.region-sky {
  margin-bottom: 1em;
}

.region-hell {
  margin-top: 1em;
}

.region-hell,
.region-sky {
  color: $dark-blue;

  a, p {
    color: $dark-blue;
  }
  a {
    border-bottom: 1px dotted $dark-blue;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    background-color: #666;
    color: #fff;
    display: block;
    padding: 2px 0 3px 0;
    text-align: center;
    width: 100%;
  }
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon {
  background-image: inline-image("feed-orange-32.png");
  display: block;
  height: 32px;
  width: 32px;
  img {
    display: none;
  }
}
