/**
 * @file
 * Node Styling
 */
.node {
  padding: 0 .3em;
}
.node .submitted {
  color: #bfbfbf;
}
.node .submitted .user-picture img {
  float: right;
}
.node ul.links {
  font-size: .8em;
}
.node ul.links li {
  padding: 0 .4em;
}

.node-teaser {
  border-bottom: 1px solid #8a95a7;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.node-unpublished {
  background-color: #ffebd6;
}
.node-unpublished p {
  margin: 0;
}
.node-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #ffc789;
  font-size: 3em;
  line-height: 5em;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
