/**
 * @file
 * Form Styling
 */

@import "base";

.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.2em 0;

  input.error,
  textarea.error,
  select.error { /* Highlight the form elements that caused a form submission error */
    border: 1px solid $red;
  }

  label { /* The label for a form element */
    display: block;
    @include bold;
  }

  label.option { /* The label for a radio button or checkbox */
    display: inline;
    font-weight: normal;
  }

  .description { /* The descriptive help text (separate from the label) */
    font-size: 0.85em;
    line-height: 1.3em;
    padding-top: .2em;
  }

  .form-checkboxes & ,
  .form-radios & { /* Pack groups of checkboxes and radio buttons closer together */
    margin: 0; /* Drupal core uses "0.4em 0" */
  }
}

.marker,
.form-required {
  color: $red;
}

.marker {
  vertical-align: top;
  font-size: .8em;
  line-height: 100%;
}

.form-text,
.form-textarea,
.form-select {
  @include form-border;
  color: $dark-blue;
}

.form-text {
  padding: .4em;
  @media all and (max-width: 30em) {
    width: 100%;
  }
}

.form-submit { /* The submit button */
  background-color: $dark-blue;
  border: 0;
  color: $white;
  font-family: $font-heading;
  margin: .5em;
  padding: .4em .9em;
  text-transform: uppercase;
  @include form-item-hover;
}

#edit-submit {
  background-color: $light-blue;
  @include form-item-hover;
}

.container-inline {
  div,
  label { /* Inline labels and form divs */
    display: inline;
  }
}

a.button { /* Buttons used by contrib modules like Media */
  @include appearance(button);
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: lighten($light-grey, 5%);
  border-color: lighten($grey, 35%);
  color: lighten($grey, 25%);
}
.form-disabled .grippie {
  background-color: lighten($light-grey, 5%);
  border-color: lighten($grey, 35%);
}
.form-disabled label {
  color: lighten($grey, 25%);
}

/*
 * Fieldset
 */

fieldset {
  border: none;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
  background-color: lighten($light-blue, 40%);

  .fieldset-legend {
    margin-top: 0.7em;
    padding-left: 15px; /* LTR */
    position: absolute;
    text-transform: uppercase;
    a {
      @include bold;
    }
  }

  .fieldset-wrapper {
    padding: 0 13px 13px 15px; /* LTR */
  }

  &.collapsed {
    border: none;
  }
  fieldset {
    background-color: #fff;

    fieldset {
      background-color: #f8f8f8;
    }
  }
}

html.js fieldset.collapsed {
  height: auto;
  border: none;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

.password-indicator {
  background-color: $light-grey;
  div {
    background-color: $green;
  }
}

.password-strength-text {
  @include bold;
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  ul { /* OpenID creates a new ul above the login form's links. */
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  html.js & li.openid-link,
  li.openid-link { /* The "Log in using OpenID" link. */
    margin-top: 1.5em;
    margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
  }

  li.user-link { /* The "Cancel OpenID login" link. */
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  tbody {
    border-top: 1px solid #ccc;
  }

  tr.even {
    background-color: #fff;
  }

  table .item-list ul {
    margin: 0;
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

/*
 * Throbber
 */

html.js {
  input.form-autocomplete {
    background-image: inline-image("throbber.gif");
    background-position: 100% 8px; /* LTR */
  }

  input.throbbing {
    background-position: 100% -24px; /* LTR */
  }
}

/*
 * Progress
 */

.progress {
  @include bold;
}
