/**
 * @file
 * Local tasks
 */

@import "base";

.tabs {
  @include clearfix;
  font-size: 1em;
  line-height: $tabs-line-height;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  a {
    color: $white;
  }

  li {
    display: block;
    float: left;
    font-family: $font-heading;
    padding: .1em .2em;
  }
}

.tabs-primary {
  margin-top: .4em;
}

a.tabs-primary__tab-link {
  background: $dark-blue;
  padding: .4em .9em;
  white-space: nowrap;

  &.is-active {
    background: $light-blue;
  }

  &:hover {
    background-color: $grey;
  }
}

.tabs-secondary {
  font-size: .9em;
}

a.tabs-secondary__tab-link {
  background: lighten($dark-blue, 15%);
  font-family: $font-body;
  padding: .3em .8em;

  &.is-active {
    background: lighten($light-blue, 15%);
  }
}
