/**
 * @file
 * Menu styling
 */

@import "base";

/*******************************************************************************
 * Mobile first
 ******************************************************************************/

#main-menu {
  background-color: #ddd;
  line-height: 1;
  width: 100%;
  padding: .2em;

  ul, li {
    list-style-image: none;
    list-style-position: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/*
 * Level 1 <ul> tag
 */

  & > ul {
    display: block;
    width: 100%;
  } // Level 1 <ul> tag

/*
 * Level 1 <li> tag
 */

  li.level-1 {
    float: left;
    margin: .1em;
    padding: .4em .7em;

    background-color: $color-default;

    &:nth-child(4n+1) {
      background-color: $color-1;
    }

    &:nth-child(4n+2) {
      background-color: $color-2;
    }

    &:nth-child(4n+3) {
      background-color: $color-3;
    }

    &:nth-child(4n+4) {
      background-color: $color-4;
    }

    &:hover {
      @media all and (max-width: 45em) {
        opacity: .5;
        background-color: $grey;
      }
    }

    a {
      color: $white;
      text-transform: uppercase;
      &:hover {
        @media all and (max-width: 45em) {
          opacity: 1;
          background-color: $grey;
        }
      }
    }
  } // Level 1 <li> tag


/*
 * Level 2 <ul> tag
 */

  li.level-1 > ul {
    display: none;
  } // Level 2 <ul> tag

  li.level-4 {
    display: none;
  }
} // #main-menu

/*******************************************************************************
 * Large
 ******************************************************************************/

@media all and (min-width: 45em) {

  #main-menu {
    padding: 0;
  /*
   * Colors
   */

    // Background colors panels
    li.level-1 {
      & > ul {
        background-color: $color-default;
      }

      &:nth-child(4n+1) > ul {
        background-color: $color-1;
      }

      &:nth-child(4n+2) > ul {
        background-color: $color-2;
      }

      &:nth-child(4n+3) > ul {
        background-color: $color-3;
      }

      &:nth-child(4n+4) > ul {
        background-color: $color-4;
      }
      &:first-child {
        margin-left: 2em;
      }
    }

  /*
   * Level 1 <ul> tag
   */

    & > ul {
      background-image: inline-image("menu.png");
      height: 45px;
      position: relative;
    } // Level 1 <ul> tag

  /*
   * Level 1 <li> tag
   */

    li.level-1 {
      border: 0;
      border-left: 1px solid #ccc;
      display: block;
      height: 45px;
      margin: 0;
      padding: 0;
      z-index: 500;

      @media (max-width: 40em) {
        height: 35px;
      }

      &:first-of-type {
        border: 0;
      }

      & > a {
        background: $light-grey;
        border-bottom: 1px solid #aaa;
        border-top: 1px solid $white;
        color: $dark-grey;
        display: block;
        font-size: 1em;
        height: 42px;
        margin-top: 3px;
        padding: .7em 1em 0 1em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;

        &.active {
          @include text-shadow(0 0 10px $dark-grey);
        }

        &:hover {
          background: rgba(190,190,190, 0.5);
          color: $white;
          opacity: 1;
        }
      } // a

      &.hover-trail > a {
        background: rgba(190,190,190, 0.5);
      }

    } // Level 1 <li> tag

  /*
   * Level 2 <ul> tag
   */

    li.level-1 > ul {
      @include box-shadow(0 0 0 1px #fff, 0 0 7px #000);
      @include transition(height .2s .3s, opacity .2s .3s, border .2s .3s);
      border: 0;
      display: table-row;
      float: left;
      height: 0;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 45px;
      width: 100%;
      z-index: 100;

    } // Level 2 <ul> tag

  /*
   * Level 2 <ul> tag : hover
   */

    li.level-1:hover > ul {
      height: 3em;
      opacity: 1;
    } // Level 2 <ul> tag : hover

    li.level-1.max-1:hover > ul {
      @include menu-height(1);
    }

    li.level-1.max-2:hover > ul {
      @include menu-height(2);
    }

    li.level-1.max-3:hover > ul {
      @include menu-height(3);
    }

    li.level-1.max-4:hover > ul {
      @include menu-height(4);
    }

    li.level-1.max-5:hover > ul {
      @include menu-height(5);
    }

    li.level-1.max-6:hover > ul {
      @include menu-height(6);
    }

    li.level-1.max-7:hover > ul {
      @include menu-height(7);
    }

    li.level-1.max-8:hover > ul {
      @include menu-height(8);
    }

    li.level-1.max-9:hover > ul {
      @include menu-height(9);
    }

    li.level-1.max-10:hover > ul {
      @include menu-height(10);
    }

  /*
   * Level 2 <li> tag
   */

    li.level-2 {
      background: none;
      border-right: 1px solid $white;
      float: left;
      text-transform: uppercase;
      font-family: $font-heading;
      padding: 1em;
      display: table-cell;
      height: 100%;

      &:last-child {
        border: none;
      }

      & > a {
        color: #fff;
        display: block;
        font-size: 1em;
        @media (max-width: 50em) {
          font-size: .95em;
        }

        &:hover {
          opacity: $hover-opacity;
        }

        &.active {
          @include text-shadow(0 0 10px $white);
        }
      }
    } // Level 2 <li> tag

  /*
   * Level 3 <ul> tag
   */

    li.level-2 > ul {
      border: 0;
      background: none;
      float: none;
      padding: 0;
      margin-top: .5em;
    } // Level 3 <ul> tag

  /*
   * Level 3 <li> tag
   */

    li.level-3 {
      padding: .3em 0 .3em .8em;
      font-family: $font-body;

      a {
        display: block;
        color: #fff;
        text-transform: none;

        &:before{
          content: "- ";
        }

        &:hover {
          opacity: .7;
        }

        &.active {
          @include text-shadow(0 0 10px $white);
        }

        @media (max-width: 50em) {
          font-size: .9em;
        }
      }
    } // Level 3 <li> tag

    /*
     * Frontpage
     */

    li.front {
      width: 8%;
      text-indent: -9999px;
      a {
        background-color: #eee;
        background-image: inline-image("../images/start-big.png");
        background-position: 50% 6px;
        background-repeat: no-repeat;

        &:hover {
          background-image: inline-image("../images/start-big.png");
          background-position: 50% 6px;
          background-repeat: no-repeat;
        }
      }
    } // Frontpage


  } // #main-menu
} // @media all and (min-width: 45em)
