/**
 * @file
 * Secondary / Tertiary menu styling
 */

@import "base";

.block-menu {

  li {
    a {
      color: $dark-blue;

      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
}

#block-system-user-menu {
  text-align: right;
}
