/**
 * @file
 * Messages
 */

@import "base";

.messages {
  margin: .3em 0;
  padding: .7em; /* LTR */

  a {
    border-bottom: 1px dotted $white;
    color: $white;

    &:hover {
      opacity: $hover-opacity;
    }
  }

 ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;

    li {
      list-style-image: none;
    }
  }
}

.status, .ok, .warning, .error {
  color: $white;
}

.status, .ok {
  background-color: $status;
}

.warning {
  background-color: lighten($warning, 30%);
}

.error {
  background-color: $error;
}
