/**
 * @file
 * Table styling
 */

@import "base";

table {
  width: 100%;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1em;

  th, td {
    border-bottom: 1px solid $light-blue;
    padding: .3em .7em;
    vertical-align: top;
  }

  th {
    @include bold;
    border-bottom-width: 2px;
    padding-top: .4em;
  }

  p {
    margin: 0;
  }
}

tbody {
  border-top: 2px solid $light-blue;
}

tr {
  &.odd {
    background-color: lighten($light-blue, 44%);
  }

  &.even {
    background-color: $white;
  }

  &:hover td, &:hover td.active  {
    background-color: lighten($orange, 50%) !important;
  }

  &.active {
    color: $light-blue;
  }

  &.odd td.active {
    background-color: lighten($light-blue, 40%);
  }

  &.even td.active {
    background-color: lighten($light-grey, 10%);
  }
}
