/**
 * @file
 * Font
 */

@import "base";

@font-face {
  font-family: 'Willibald Sans';
  src: url('../../fonts/willibald-sans.eot');
  src: url('../../fonts/willibald-sans.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/willibald-sans.woff') format('woff'),
       url('../../fonts/willibald-sans.ttf') format('truetype'),
       url('../../fonts/willibald-sans.svg#WillibaldSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Willibald Sans Black';
  src: url('../../fonts/willibald-sans-black.eot');
  src: url('../../fonts/willibald-sans-black.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/willibald-sans-black.woff') format('woff'),
       url('../../fonts/willibald-sans-black.ttf') format('truetype'),
       url('../../fonts/willibald-sans-black.svg#WillibaldSansBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $dark-grey;
  font-family: $base-font-family;
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: adjust-lightness($orange, 25);
    opacity: .7;
  }
}

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $green;
  font-family: $font-heading;
  font-weight: 400;
}

h1 {
  border-bottom: 2px solid lighten($light-blue, 20%);
  margin-bottom: .2em;
  padding-bottom: .2em;
  text-transform: uppercase;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
  ol {
    list-style: lower-latin;
    ol {
      list-style: lower-greek;
    }
  }
}

hr {
  border-bottom: 1px solid $grey;
  border: 0;
  margin: 0 0 1em;
}

strong, b, dt {
  @include bold;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 5px solid $grey;
  padding-left: 1em;

  p {
    margin-bottom: 0;
  }
}
