/**
 * @file
 * Font
 */
@font-face {
  font-family: 'Willibald Sans';
  src: url("../../fonts/willibald-sans.eot");
  src: url("../../fonts/willibald-sans.eot?#iefix") format("embedded-opentype"), url("../../fonts/willibald-sans.woff") format("woff"), url("../../fonts/willibald-sans.ttf") format("truetype"), url("../../fonts/willibald-sans.svg#WillibaldSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Willibald Sans Black';
  src: url("../../fonts/willibald-sans-black.eot");
  src: url("../../fonts/willibald-sans-black.eot?#iefix") format("embedded-opentype"), url("../../fonts/willibald-sans-black.woff") format("woff"), url("../../fonts/willibald-sans-black.ttf") format("truetype"), url("../../fonts/willibald-sans-black.svg#WillibaldSansBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  color: #727b8a;
  font-family: "Willibald Sans", sans-serif;
}

a {
  color: #ef7d00;
  text-decoration: none;
}
a:hover {
  color: #ffbb70;
  opacity: .7;
}

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #95c11f;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: 400;
}

h1 {
  border-bottom: 2px solid #a0d1d8;
  margin-bottom: .2em;
  padding-bottom: .2em;
  text-transform: uppercase;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-latin;
}
ol ol ol {
  list-style: lower-greek;
}

hr {
  border-bottom: 1px solid #8a95a7;
  border: 0;
  margin: 0 0 1em;
}

strong, b, dt {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 5px solid #8a95a7;
  padding-left: 1em;
}
blockquote p {
  margin-bottom: 0;
}
