/**
 * @file
 * Field
 */
.field {
  margin-bottom: 1em;
}
.field .field-label {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: left;
  /*LTR*/
}

form .field-multiple-table {
  margin: 0;
}
form th.field-label {
  padding-left: 0;
  /*LTR*/
}
form td.field-multiple-drag {
  width: 30px;
  padding-right: 0;
  /*LTR*/
}
form td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em;
  /*LTR*/
}
form .field-add-more-submit {
  margin: .5em 0 0;
}

/*
 * Draggable
 */
a.tabledrag-handle .handle {
  height: 22px;
  width: 22px;
  background-position: 8px 10px;
}
a.tabledrag-handle-hover .handle {
  background-position: 8px -11px;
}

/*
 * Field UI
 */
table.field-ui-overview tr.add-new .add-new-placeholder,
table.field-ui-overview tr.region-title td,
#field-display-overview .field-formatter-settings-edit-form .formatter-name {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}
