/**
 * @file
 * Form Styling
 */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.2em 0;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #ef5c76;
}
.form-item label {
  /* The label for a form element */
  display: block;
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
  line-height: 1.3em;
  padding-top: .2em;
}
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

.marker,
.form-required {
  color: #ef5c76;
}

.marker {
  vertical-align: top;
  font-size: .8em;
  line-height: 100%;
}

.form-text,
.form-textarea,
.form-select {
  border: 1px solid #8a95a7;
  color: #3d5874;
}

.form-text {
  padding: .4em;
}
@media all and (max-width: 30em) {
  .form-text {
    width: 100%;
  }
}

.form-submit {
  /* The submit button */
  background-color: #3d5874;
  border: 0;
  color: #fff;
  font-family: "Willibald Sans Black", sans-serif;
  margin: .5em;
  padding: .4em .9em;
  text-transform: uppercase;
}
.form-submit:hover {
  background-color: #8a95a7;
  opacity: .7;
  color: #fff;
}

#edit-submit {
  background-color: #58aeba;
}
#edit-submit:hover {
  background-color: #8a95a7;
  opacity: .7;
  color: #fff;
}

.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

a.button {
  /* Buttons used by contrib modules like Media */
  -moz-appearance: button;
  -webkit-appearance: button;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #fbfbfb;
  border-color: #f0f1f4;
  color: #d3d7de;
}

.form-disabled .grippie {
  background-color: #fbfbfb;
  border-color: #f0f1f4;
}

.form-disabled label {
  color: #d3d7de;
}

/*
 * Fieldset
 */
fieldset {
  border: none;
  padding: 2.5em 0 0 0;
  /* LTR */
  position: relative;
  margin: 1em 0;
  background-color: #e8f4f6;
}
fieldset .fieldset-legend {
  margin-top: 0.7em;
  padding-left: 15px;
  /* LTR */
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-legend a {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px;
  /* LTR */
}
fieldset.collapsed {
  border: none;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

html.js fieldset.collapsed {
  height: auto;
  border: none;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

.password-indicator {
  background-color: #eee;
}
.password-indicator div {
  background-color: #95c11f;
}

.password-strength-text {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
form tbody {
  border-top: 1px solid #ccc;
}
form tr.even {
  background-color: #fff;
}
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
td.menu-disabled {
  background: #ccc;
}

/*
 * Throbber
 */
html.js input.form-autocomplete {
  background-image: url('data:image/gif;base64,R0lGODlhFABAAJEDAMzMzD1YdPB9AP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQADACwAAAAAFABAAAACeYQxc6iXuaBr5lEWr8182g+G4vhkoKmFKLp56emS8qxOXVXaOi7hN9PD7IC0ovGITCqXzKbzCY1KmYFqIGG9DgRcgSWLtSa63gd4cCZ/xWi2emo8g+TtqohOX9vN7HkfPnMm+De4h8dWqBVmiPgH+AgZKTlJWWlZVAAAIfkEBQUAAwAsDAAgAAQACgAAAgqMjxnDzQKjnKIAACH5BAUFAAMALAwAJgAEAAoAAAIKjI8Zw80Co5yiAAAh+QQFBQADACwGACwACgAEAAACDJQ1ExuHylxi7UxWAAAh+QQFBQADACwAACwACgAEAAACDJQ1ExuHylxi7UxWAAAh+QQFBQADACwAACYABAAKAAACCpSPKcPNAaOcoQAAIfkEBQUAAwAsAAAgAAQACgAAAgqUjynDzQGjnKEAACH5BAUFAAMALAAAIAAKAAQAAAIMjDMjK4fKXGLtTFYAADs=');
  background-position: 100% 8px;
  /* LTR */
}
html.js input.throbbing {
  background-position: 100% -24px;
  /* LTR */
}

/*
 * Progress
 */
.progress {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}
