/**
 * @file
 * Local tasks
 */
.tabs {
  overflow: hidden;
  *zoom: 1;
  font-size: 1em;
  line-height: 2.2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.tabs a {
  color: #fff;
}
.tabs li {
  display: block;
  float: left;
  font-family: "Willibald Sans Black", sans-serif;
  padding: .1em .2em;
}

.tabs-primary {
  margin-top: .4em;
}

a.tabs-primary__tab-link {
  background: #3d5874;
  padding: .4em .9em;
  white-space: nowrap;
}
a.tabs-primary__tab-link.is-active {
  background: #58aeba;
}
a.tabs-primary__tab-link:hover {
  background-color: #8a95a7;
}

.tabs-secondary {
  font-size: .9em;
}

a.tabs-secondary__tab-link {
  background: #577ea6;
  font-family: "Willibald Sans", sans-serif;
  padding: .3em .8em;
}
a.tabs-secondary__tab-link.is-active {
  background: #8ec8d0;
}
