/**
 * @file
 * Secondary / Tertiary menu styling
 */
#secondary-menu,
#tertiary-menu {
  padding: .5em 0;
}
#secondary-menu li a,
#tertiary-menu li a {
  color: #3d5874;
}
#secondary-menu li a:hover,
#tertiary-menu li a:hover {
  color: #58aeba;
}

/*
 * Secondary menu
 */
#secondary-menu {
  text-align: right;
}

/*
 * Tertiary menu
 */
#tertiary-menu {
  text-align: center;
}
#tertiary-menu li a:after {
  content: " | ";
}
#tertiary-menu li:last-child a:after {
  content: "";
}
