/**
 * @file
 * Messages
 */
.messages {
  margin: .3em 0;
  padding: .7em;
  /* LTR */
}
.messages a {
  border-bottom: 1px dotted #fff;
  color: #fff;
}
.messages a:hover {
  opacity: 0.7;
}
.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}
.messages ul li {
  list-style-image: none;
}

.status, .ok, .warning, .error {
  color: #fff;
}

.status, .ok {
  background-color: #95c11f;
}

.warning {
  background-color: #ffc789;
}

.error {
  background-color: #ef5c76;
}
