/**
 * @file
 * Table styling
 */
table {
  width: 100%;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1em;
}
table th, table td {
  border-bottom: 1px solid #58aeba;
  padding: .3em .7em;
  vertical-align: top;
}
table th {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
  border-bottom-width: 2px;
  padding-top: .4em;
}
table p {
  margin: 0;
}

tbody {
  border-top: 2px solid #58aeba;
}

tr.odd {
  background-color: #f7fbfc;
}
tr.even {
  background-color: #fff;
}
tr:hover td, tr:hover td.active {
  background-color: #fff7ef !important;
}
tr.active {
  color: #58aeba;
}
tr.odd td.active {
  background-color: #e8f4f6;
}
tr.even td.active {
  background-color: white;
}
