/**
 * @file
 * Styling and module support for module "Views (views)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/views Views @endlink
 */

@import "base";

/*
 * Grouping
 */

.view {
  .view-grouping {
    .view-grouping-header {
      color: $green;
      font-family: $font-heading;
      font-size: 1.2em;
    }

    .view-grouping-content {
      caption {
        color: $green;
        font-family: $font-heading;
        font-size: 1.1em;
        text-align: left;
      }
    }
  }
}

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}
