/**
 * @file
 * Styling and module support for module "Flag (flag)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/flag Flag @endlink
 */

@import "base";

.flag-wrapper {
  .flag-message {
    box-shadow: 0 0 2.5em .01em rgba(0, 0, 0, .6);
    color: $white;
    font-size: 1em;
    padding: .3em;
    text-align: center;
    width: 15em;
    z-index: 9999;
  }

  .flag-flagged-message {
    background-color: $status;
  }

  .flag-unflagged-message {
    background-color: $error;
  }
}
