/**
 * @file
 * Styling and module support for core module "Search (search)".
 */

@import "base";


.search-form,
#search-form,
#search-block-form {

  input[type="submit"] {
    background-image: inline-image("search.png");
    background-position: .65em .45em;
    background-repeat: no-repeat;
    text-indent: -9999em;
    width: 2.5em;
  }
}
