/**
 * @file
 * Styling and module support for module "Menu Block (menu_block)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/menu_block Menu Block @endlink
 */

@import "base";

.menu-block-wrapper {
  background-color: lighten($grey, 34%) !important;

/*
 * Large
 */

  @media (min-width: 40em) {

    li {
      font-size: 1.2em;
      margin-top: 1em;
      padding: .1em 0;

      li {
        font-size: .9em;
        margin-top: 0;
      }
    }
  }

/*
 * Mobile
 */

  @media (max-width: 40em) {

    li {
      a {
        background: $orange;
        color: $white !important;
        display: block;
        width: 100%;
      }

      li a {
        background: lighten($orange, 20%);
      }
    }

    a:hover {
      background-color: $grey;
    }
  }
}
