/**
 * @file
 * Styling and module support for module "Printer, email and PDF versions
 * (print)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/print Printer, email and PDF versions @endlink
 */

@import "base";

.links {
  .print-page, .print-mail, .print-pdf {
    background-repeat: no-repeat;
    background-position: 0 .3em;
    display: inline-block;
    padding-left: 1.6em;
    padding-right: .5em;
    white-space: nowrap;
  }

  a {
    color: $dark-blue;
  }

  .print-page {
    background-image: inline-image("print-print.png")
  }

  .print-mail {
    background-image: inline-image("print-mail.png");
  }

  .print-pdf {
    background-image: inline-image("print-pdf.png");
  }
}
