/**
 * @file
 * Styling and module support for core module "Comment (comment)".
 */

@import "base";

.comments {
  margin-top: 15px;

  .comment {
    margin: .4em;
    padding: .4em;
  }

  .submitted {
    margin: 0;
  }

  h3.comment-title {
    margin-bottom: 0em;
  }
  .comment.odd {
    background-color: $green;
  }

  .comment.even {
    background-color: $light-blue;
  }
  a {
    color: $white;
  }
  .comment-form {
    a {
      color: $orange;
    }
  }
}

.indented {
  margin-left: 2em;
}

.comment-unpublished {
  background-color: #fff4f4;
}

.comment-preview {
  background-color: #ffffea;
}
