/**
 * @file
 * Styling and module support for core module "Taxonomy (taxonomy)".
 */

@import "base";

.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;

  .field-label {
    margin: 0;
    padding-right: 5px; /* LTR */
  }

   ul.links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

   ul.links li {
    float: left; /* LTR */
    padding: .18em 1em 0 0; /* LTR */
    white-space: nowrap;
    font-size: 1.1em;

    a {
      background: $orange;
      color: $white;
      padding: .1em .4em;
    }
  }
}
