/**
 * @file
 * Support for module "Mimemail" (mimemail).
 *
 * The rendered css file must be renamed to "mail.css" and be opied in the root
 * directory of Willibald.
 */

@import "base";

body {
  background: $light-blue;
  margin: 1em;
  color: $dark-grey;
  font-family: $base-font-family;
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: adjust-lightness($orange, 25);
    opacity: .7;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $green;
  font-family: $font-heading;
  font-weight: 400;
}

h1 {
  border-bottom: 2px solid lighten($light-blue, 20%);
  margin-bottom: .2em;
  padding-bottom: .2em;
  text-transform: uppercase;
}

hr {
  border-bottom: 1px solid $grey;
  border: 0;
  margin: 0 0 1em;
}

strong, b, dt {
  @include bold;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 5px solid $grey;
  padding-left: 1em;

  p {
    margin-bottom: 0;
  }
}

/*
 * Layout
 */

#frame {
 box-shadow: 0 0 3em .1em #000;
 background-color: $white;
 padding: 1em;
}

#header {

}

#body {

}

#footer {

}


