/**
 * @file
 * Styling and module support for module "LoginToboggan (logintoboggan)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/logintoboggan LoginToboggan @endlink
 */

@import "base";

/**
 * Logintobbogan
 */

.toboggan-unified {
  #login-message {
    background-color: $orange;
    margin: 0;
    margin-bottom: 1em;
    padding: .4em;
    color: $white;
  }

  .login-link {
    line-height: $tabs-line-height;
    background-color: $dark-blue;
    border: 0;
    color: $white;
    margin: .5em;
    margin-left: 0;
    padding: .4em;
    white-space: nowrap;

    &.lt-active {
      background-color: $light-blue;
    }
  }
}
