/**
 * @file
 * Styling and module support for module "Custom Search (custom_search)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/custom_search Custom Search @endlink
 */

@import "base";

.search-form {
  .form-type-textfield,
  .form-actions {
    display: inline;
  }
}
