/**
 * @file
 * Styling and module support for module "Panels (panels)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/panels Panels @endlink
 */

@import "base";

.panel-panel {
  .pane-title {
    text-transform: uppercase;
  }

  .pane-content {
    
  }
}
