/**
 * @file
 * Styling and module support for core module "Book (book)".
 */

@import "base";

.book-navigation {
  line-height: 1;
  .menu {
    border-top: 1px solid $grey;
    padding: 1em 0 0 3em; /* LTR */

    li {
      margin: .3em 0;
    }
  }

  .page-links {
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    padding: 0.5em;
  }

  .page-previous, .page-up, .page-next {
    display: block;
  }

  .page-previous, .page-next {
    width: 35%;
  }

  .page-previous, .page-up {
    float: left; /* LTR */
  }

  .page-up {
    float: left; /* LTR */
    margin: 0 5%;
    text-align: center;
    width: 20%;
  }

  .page-next {
    float: right;
    text-align: right;
  }

  @media (max-width: 30em) {

    .menu {
      border-top: none;
    }

    ul.menu {
      padding: 0;
    }

    .page-links {
      border: none;
    }

    .page-previous,
    .page-up,
    .page-next,
    .menu a {
      background-color: $orange;
      color: $white;
      display: block;
      float: none;
      margin: .2em 0;
      padding: .5em;
      width: 100%;

      &:hover {
        background-color: $grey;
      }
    }

    .page-up {
      background-color: lighten($orange, 20%);
    }
  }
}
