/**
 * @file
 * Styling and module support for module "Views (views)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/views Views @endlink
 */
/*
 * Grouping
 */
.view .view-grouping .view-grouping-header {
  color: #95c11f;
  font-family: "Willibald Sans Black", sans-serif;
  font-size: 1.2em;
}
.view .view-grouping .view-grouping-content caption {
  color: #95c11f;
  font-family: "Willibald Sans Black", sans-serif;
  font-size: 1.1em;
  text-align: left;
}

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0;
  border-radius: 0 0 7px 7px;
}
