/**
 * @file
 * Styling and module support for module "LoginToboggan (logintoboggan)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/logintoboggan LoginToboggan @endlink
 */
/**
 * Logintobbogan
 */
.toboggan-unified #login-message {
  background-color: #ef7d00;
  margin: 0;
  margin-bottom: 1em;
  padding: .4em;
  color: #fff;
}
.toboggan-unified .login-link {
  line-height: 2.2em;
  background-color: #3d5874;
  border: 0;
  color: #fff;
  margin: .5em;
  margin-left: 0;
  padding: .4em;
  white-space: nowrap;
}
.toboggan-unified .login-link.lt-active {
  background-color: #58aeba;
}
