/**
 * @file
 * Support for module "Mimemail" (mimemail).
 *
 * The rendered css file must be renamed to "mail.css" and be opied in the root
 * directory of Willibald.
 */
body {
  background: #58aeba;
  margin: 1em;
  color: #727b8a;
  font-family: "Willibald Sans", sans-serif;
}

a {
  color: #ef7d00;
  text-decoration: none;
}
a:hover {
  color: #ffbb70;
  opacity: .7;
}

h1, h2, h3, h4, h5, h6 {
  color: #95c11f;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: 400;
}

h1 {
  border-bottom: 2px solid #a0d1d8;
  margin-bottom: .2em;
  padding-bottom: .2em;
  text-transform: uppercase;
}

hr {
  border-bottom: 1px solid #8a95a7;
  border: 0;
  margin: 0 0 1em;
}

strong, b, dt {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 5px solid #8a95a7;
  padding-left: 1em;
}
blockquote p {
  margin-bottom: 0;
}

/*
 * Layout
 */
#frame {
  box-shadow: 0 0 3em .1em #000;
  background-color: #fff;
  padding: 1em;
}
