/**
 * @file
 * Styling and module support for module "Menu Block (menu_block)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/menu_block Menu Block @endlink
 */
.menu-block-wrapper {
  background-color: #edeff1 !important;
  /*
   * Large
   */
  /*
   * Mobile
   */
}
@media (min-width: 40em) {
  .menu-block-wrapper li {
    font-size: 1.2em;
    margin-top: 1em;
    padding: .1em 0;
  }
  .menu-block-wrapper li li {
    font-size: .9em;
    margin-top: 0;
  }
}
@media (max-width: 40em) {
  .menu-block-wrapper li a {
    background: #ef7d00;
    color: #fff !important;
    display: block;
    width: 100%;
  }
  .menu-block-wrapper li li a {
    background: #ffae56;
  }
  .menu-block-wrapper a:hover {
    background-color: #8a95a7;
  }
}
