/**
 * @file
 * Styling and module support for core module "Comment (comment)".
 */
.comments {
  margin-top: 15px;
}
.comments .comment {
  margin: .4em;
  padding: .4em;
}
.comments .submitted {
  margin: 0;
}
.comments h3.comment-title {
  margin-bottom: 0em;
}
.comments .comment.odd {
  background-color: #95c11f;
}
.comments .comment.even {
  background-color: #58aeba;
}
.comments a {
  color: #fff;
}
.comments .comment-form a {
  color: #ef7d00;
}

.indented {
  margin-left: 2em;
}

.comment-unpublished {
  background-color: #fff4f4;
}

.comment-preview {
  background-color: #ffffea;
}
