/**
 * @file
 * Styling and module support for module "Field group (field_group)".
 *
 * Project page on Drupal.org: @link http://drupal.org/project/field_group Field group @endlink
 */
#field-overview tr.field-group .group-label,
#field-display-overview tr.field-group .group-label {
  color: #3d5874;
  font-family: "Willibald Sans Black", sans-serif;
  font-weight: normal;
}
