/**
 * @file
 * Styling and module support for core module "Book (book)".
 */
.book-navigation {
  line-height: 1;
}
.book-navigation .menu {
  border-top: 1px solid #8a95a7;
  padding: 1em 0 0 3em;
  /* LTR */
}
.book-navigation .menu li {
  margin: .3em 0;
}
.book-navigation .page-links {
  border-bottom: 1px solid #8a95a7;
  border-top: 1px solid #8a95a7;
  padding: 0.5em;
}
.book-navigation .page-previous, .book-navigation .page-up, .book-navigation .page-next {
  display: block;
}
.book-navigation .page-previous, .book-navigation .page-next {
  width: 35%;
}
.book-navigation .page-previous, .book-navigation .page-up {
  float: left;
  /* LTR */
}
.book-navigation .page-up {
  float: left;
  /* LTR */
  margin: 0 5%;
  text-align: center;
  width: 20%;
}
.book-navigation .page-next {
  float: right;
  text-align: right;
}
@media (max-width: 30em) {
  .book-navigation .menu {
    border-top: none;
  }
  .book-navigation ul.menu {
    padding: 0;
  }
  .book-navigation .page-links {
    border: none;
  }
  .book-navigation .page-previous,
  .book-navigation .page-up,
  .book-navigation .page-next,
  .book-navigation .menu a {
    background-color: #ef7d00;
    color: #fff;
    display: block;
    float: none;
    margin: .2em 0;
    padding: .5em;
    width: 100%;
  }
  .book-navigation .page-previous:hover,
  .book-navigation .page-up:hover,
  .book-navigation .page-next:hover,
  .book-navigation .menu a:hover {
    background-color: #8a95a7;
  }
  .book-navigation .page-up {
    background-color: #ffae56;
  }
}
